@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model Sitecore.Data.Items.Item[]

@if (Model != null)
{
    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">@Html.Sitecore().Field("Title", Model)</h2>
                    <h3 class="section-subheading text-muted">@Html.Sitecore().Field("Summary", Model)</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        @foreach (var item in Model)
                        {
                            <li>
                                <div class="timeline-image">
                                    @Html.Sitecore().Field("Image", item, new { @class = "img-circle img-responsive" })
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>@Html.Sitecore().Field("Date", item)</h4>
                                        <h4 class="subheading">@Html.Sitecore().Field("Subtitle", item)</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">@Html.Sitecore().Field("Description", item)</p>
                                    </div>
                                </div>
                            </li>
                        }

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    @Html.Sitecore().Field("Footer", Model)
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

}