@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model Sitecore.Data.Items.Item[]

@if (Model != null)
{
    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">@Html.Sitecore().Field("Title", Model)</h2>
                    <h3 class="section-subheading text-muted">@Html.Sitecore().Field("Summary",Model)</h3>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            @*<img src="img/portfolio/roundicons.png" class="img-responsive" alt="">*@
                            @Html.Sitecore().Field("Image",item, new { @class = "img-responsive" })
                        </a>
                        <div class="portfolio-caption">
                            <h4>@Html.Sitecore().Field("Header", item)</h4>
                            <p class="text-muted">@Html.Sitecore().Field("Sub-Header", item)</p>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>

}