@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel

@if (Model != null && Model.Item != null)
{
    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">@Html.Sitecore().Field("Title", Model.Item)</h2>
                    <h3 class="section-subheading text-muted">@Html.Sitecore().Field("Summary", Model.Item)</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">@Html.Sitecore().Field("Subtitle 1", Model.Item)</h4>
                    <p class="text-muted">@Html.Sitecore().Field("Description 1", Model.Item)</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">@Html.Sitecore().Field("Subtitle 2", Model.Item)</h4>
                    <p class="text-muted">>@Html.Sitecore().Field("Description 2", Model.Item)</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">@Html.Sitecore().Field("Subtitle 3", Model.Item)</h4>
                    <p class="text-muted">@Html.Sitecore().Field("Description 3", Model.Item)</p>
                </div>
            </div>
        </div>
    </section>
}